@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    height: 100%;
    background:rgb(116, 113, 113);
    background-image: url('../media/tat-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lexend Tera', sans-serif;
    @media(max-width:768px) {
        background:#b28987;
    }
}

